.container {
  display: flex;
  margin: 0 auto;
  width: 450px;
  height: 650px;
  flex-direction: column;
  min-height: 500px;
  justify-content: space-around;
  align-items: center;
}

.sova-ck-main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sova-ck-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  width: 100%;
}
